.liftRanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 300px;    
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #E5383B;
    border-radius: 10px;    
}

.liftRanks-title {
    color: #F5F3F4;
    margin-top: 50px;
}

.liftRanks-soon {
    color: #F5F3F4;
    margin-top: 20px;
}

.liftRanks-description {
    padding: 0 20px;
    color: #F5F3F4;
    text-align: center;
}

.rankings-lift {
    width: 33%;
    height: auto;
}

.table-caption-lift {
    border: 1px solid #262629;
    margin-bottom: -1px;
    background-color: #BA181B;
    font-family: 'Alata', sans-serif;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px 5px 0px 0px;
}

@media screen and (max-width: 992px) {
    .liftRanks-container {
        margin-top: 60px;
    }

    .rankings-container {
        width: 90%;
        gap: 10px;
    }

    .table-caption-lift {
        border: 1px solid #262629;
        margin-bottom: -1px;
        background-color: #BA181B;
        color: white;
        font-size: 1.5rem;
        border-radius: 5px 5px 0px 0px;
    }
}

@media screen and (max-width: 700px) {
    .liftRanks-container {
        margin-top: 60px;
    }

    .rankings-container {
        width: 80%;
        gap: 10px;
    }

    .rankings-lift {
        width: 100%;
    }

    .table-caption-lift {
        border: 1px solid #262629;
        margin-bottom: -1px;
        background-color: #BA181B;
        font-family: 'Alata', sans-serif;
        color: white;
        font-size: 1.5rem;
        border-radius: 5px 5px 0px 0px;
    }
}