.home-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

.home-title, .home-description {
    color: #F5F3F4;
    font-family: 'Alata', sans-serif;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}


@media screen and (max-width: 992px) {
    .home-container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 700px) {
    .home-container {
        margin-top: 60px;
    }

    .home-title, .home-description {
        font-size: 1.3rem;
    }
}