.listItem {
    background-color: #212529;
    color: white;
}

.eventsCard {

}

.eventsCardImage {
    height: 300px;
}

.eventsText {
    color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: red;
}

@media screen and (max-width: 992px) {
    .eventsCard {
        margin: auto;
        width: 100%;
    }
    
    .eventsCardImage {
        margin:auto;
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    .eventsCard {
        margin: auto;
        width: 100%;
    }

    .eventsCardImage {
        height: 220px;
    }

    .eventsText {
        font-size: 15px;
    }

    .listItem {
        font-size: 15px;
    }

    .eventLinks {
        font-size: 15px;
    }
}