.rankButton {
    color: white;
    background-color: red;
    border: 2px solid black;
}

.cardGrid {
    display: block;
    margin: auto;
    padding: 50px;
}

.rankCard {
    height: 455px;
    width: 100%;
    margin: auto;
    border: 2px solid red;
    align-items: center;
    text-align: center;
    
}

.rankCardImage {
    height: 350px;
}

.rankText {
    font-size: 15px;
}

.athleteName {
    font-size: 20px;
    margin-top: -5px;
}

@media screen and (max-width: 992px) {
    .rankCard {
        height: 290px;
        width: 100%;
        margin: auto;
    }
    .rankCardImage {
        height: 210px;
    }

    .rankText {
        font-size: 14px;
    }
  
    .athleteName {
        font-size: 16px;
        margin-top: -5px;
    }
}
  
@media screen and (max-width: 575px) {
    .rankCard {
        height: 290px;
        width: 75%;
        margin: auto;
    }
    .rankCardImage {
        height: 210px;
    }   
    .athleteName {
        font-size: 16px;
        margin-top: -5px;
    }   
    .rankText {
      font-size: 14px;
      color: white;
    }
}